html {
    background-color: white;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
    width: max(300px, 90vw);
    font-size: min(4vw, 18px);
}

h1 {
    font-family: "Gideon Roman";
    font-size: 2.5rem;
    text-transform: uppercase;
}

header, #rules {
    max-width: min(90vw, 450px);
}

#rules {
    display: none;
    line-height: 1.4;
    text-align: justify;
    margin-bottom: 40px;
}

#signup {
    display: none;
}

#error-message-get-player {
    color: red;
}

#button-container {
    display: flex;
    max-width: 450px;
    margin-top: 20px;
}

button {
    color: white;
    font-size: 1.1rem;
    padding: 10px;
    margin: 20px 20px 20px 0;
    border-radius: 7%;
    box-shadow: 3px 5px 9px grey;
    cursor: pointer;
}

#get-player button {
    background-color: bisque;
    color: black;
}

#submit-game, #signup-form button, #accept-invitation {
    background-color: rgb(24, 172, 24);
}

#login-form button, #logout, #open-signup {
    background-color: rgb(116, 118, 33);
}

#rules-button {
    background-color: chocolate;
}

#solo-game-button, #web-game-button, #decline-invitation {
    background-color: cyan;
    color: black;
}

#players {
    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
}

#players h3 {
    margin-bottom: 25px;
}

.player {
    margin-bottom: 30px;
}

.player-label {
    padding: 7px;
    border-radius: 10%;
}

#red .player-label {
    color: white;
    background-color: red;
}

#blue .player-label {
    color: white;
    background-color: blue;
}

#yellow .player-label {
    color: black;
    background-color: yellow;
}

#green .player-label {
    color: white;
    background-color: green;
}

#orange .player-label {
    color: black;
    background-color: orange;
}

#purple .player-label {
    color: white;
    background-color: purple;
}

.player input[type="checkbox"] {
    position: relative;
    top: 5px;
    left: 2px;
    width: 18px;
    height: 18px;
    margin-right: 20px;
}    

#create-game, #orange, #purple {
    display: none;
}

#error-message-account, #error-message-get-player {
    color: red;
    font-size: 1.1rem;
}

#display {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 50px 0 30px -5px;
    height: auto;
}

.display-player {
    border-radius: 13%;
    text-align: center;
    line-height: 0.7;
    padding: 0 15px;
    margin: 10px 5px;
    box-sizing: border-box;
}

.player-name {
    font-size: 1.1rem;
    text-transform: capitalize;
    text-decoration: underline;
}

#winner-message {
    font-size: 1.4rem;
    font-family: "Gideon Roman";
    font-weight: bold;
    text-transform: uppercase;
}

#board {
    display: grid;
    max-width: 100%;
    height: auto;
    border: 4px solid black;
    z-index: 1;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    border: 1px solid whitesmoke;
    z-index: 2;
    cursor: cell;
}

footer {
    margin-top: 30px;
    font-size: 1.1rem;
    font-style: italic;
    color: grey;
}

@media screen and (min-width: 380px) {
    html {
        margin-left: 10vw;
    }
}